@almostBlack: rgba(0, 0, 0, 0.925);

body{
    background-color: @almostBlack;
    color: white;
    text-align: center;
    text-decoration-color: blue;
    list-style: none;
}

header{
    font-size: 200px;
    font-family: "fantasy";
}

ul{
    font-size: 50px;
}