body{
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    text-align: center;
    text-decoration-color: blue;
}

header{
    font-size: 200px;
    font-family: "fantasy";
}

ul{
    font-size: 50px;
}