body {
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
  text-align: center;
  text-decoration-color: blue;
}
header {
  font-size: 200px;
  font-family: "fantasy";
}
div {
  animation-name: goApeShit;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes goApeShit {
  0% {
    right: 0;
    left: 0;
  }
  25% {
    right: 0;
    left: 470px;
  }
  50% {
    right: 170px;
    left: 470px;
  }
  75% {
    right: 170px;
    left: 0;
  }
  100% {
    right: 0;
    left: 0;
  }
}
ul {
  font-size: 50px;
  list-style-type: none;
}
